@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

root {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    width: 100%;
    height: 88px;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.search-help-section {
    background-color: #dadbf1;
    width: 100%;
    height: 397px;
    padding-top: 190px;
}

.icon-page {
    display: flex;
    width: 33px;
    height: 34px;
    background-color: white;
    border-radius: 11px;
    margin: 26px 0px 0px 95px;
}

.circle-icon-page {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-color: transparent;
    margin: 7px 0px 0px 5px;
}

.site-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin: 30px 0px 0px 10px;
}

.input-search-header {
    display: flex;
    width: 265px;
    height: 56px;
    border-radius: 10px;
    padding-left: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.search-bar-button-submit {
    display: flex;
    align-items: center;
    width: 73%;
    justify-content: flex-end;
    gap: 15px;
}

.button-request-header {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    width: 252px;
    height: 52px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: #000000;
    cursor: pointer;
    color: #ffffff;
}

.button-sign-header {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 5px;
    width: 140px;
    height: 52px;
    border-radius: 10px;
    border-style: solid;
    background-color: #4c5fd5;
    cursor: pointer;
    color: #ffffff;
}

.question-input-container {
    position: relative;
    margin-left: 600px;
}

.question-help-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -5px;
    margin-left: 45px;
    margin-bottom: 35px;
}

.input-search-section {
    width: 720px;
    height: 66px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
    padding: 5px;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 19px;
}